body{
  margin: 0;
}
.conteudo {
  padding: 0 15px 15px 15px;
  margin-right: auto;
  margin-left: auto;
  /*background-color: #caf0f8;*/
}

.menu {
  top: 0;
  left: 0;
  margin-top: 0;
  padding: 0;
  width: 100%;
}
.menu ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  overflow: hidden;
  background-color: steelblue;
}
.menu li {
  padding-left: 0;
  float: left;
}
.menu li a {
  height: 30px;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 15px 10px 15px;
  text-decoration: none;
}
.menu li a:hover:not(.active) {
  background-color: #00b4d8;
}
.active {
  background-color: #4caf50;
}
.texto-justificado {
  text-align: justify;
}
h1 {
  text-align: center;
}
h2 {
  font-style: italic;
}
h1,
h2 {
  color: rgb(3, 4, 94);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer {
  padding: 20px;
  background-color: slategrey;
  height: 60px;
}
p {
  font-family: Georgia, "Times New Roman", Times, serif;
}
span {
  font-weight: bold;
}
hr {
  border: 2px solid #0077b6;
}
.destaque {
  font-style: italic;
}
.listaEstilizada{
  list-style-type: none;
}
#listaHtml {
  color: olive;
}
